

.drop-container {
    background: rgb(230, 229, 229);
    padding: 1.5rem;
    width: 1100px;
    display: inline-block;
    border-radius: 5px;
    margin-left: 300px;
  }
.drop {
    border-radius: 20px;
    display: grid;
    width: 100%;
    place-content: center;
    padding: 2rem;
    box-sizing: border-box;
    display: grid;
    place-items: center;
  }
  .Quantity{
    height: 50px;
    width: 200px;
    margin-right: 30px;
  }

 
  /**/
  
  .active {
    border: 3px solid #4b4b4b;
    background: #edccff;
  }
  
  .drop .icon {
    font-size: 60px;
    color: #101010;
  }
  .drop .text {
    text-align: center;
    font-weight: 500;
    color: #443f46;
    margin-top: 1rem;
  }
  .drop .step1 {
    text-align: center;
    font-weight: bold;
    color: #443f46;
    margin-bottom: 5rem;
    margin-right: 30rem;
  }
  .drop .step2 {
    text-align: center;
    font-weight: bold;
    color: #443f46;
    margin-bottom: 2rem;
    margin-right: 25rem;
  }
  .drop .step3 {
    text-align: center;
    font-weight: bold;
    color: #443f46;
    margin-bottom: 2rem;
    margin-right: 25rem;
  }

  /* this is for the first box */
  .drop-container1 {
    background: #fff;
    padding: 1.5rem;
    width: 450px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 0 40px 15px rgba(0, 0, 0, 0.2);
  }
  .drop1{
    border-radius: 10px;
    border: 3px dashed #aaaaaa;
    display: grid;
    width: 100%;
    place-content: center;
    padding: 2rem;
    box-sizing: border-box;
    display: grid;
    place-items: center;
  }
  .drop1 .text1 {
    font-weight: bold;
    color: #443f46;
    margin-right: 15rem;
    margin-bottom: 5rem;
  }
.t{
 margin-bottom: 3rem;
height: 40px;
width: 300px;
  }
  /* */
  .progress {
    background: #101010;
    width: 0%;
    height: 20px;
    display: none;
    border-radius: 10px;
    transition: all 0.2s;
  }
  .drop label {
    background: #101010;
    padding: 0.7rem 1.8rem;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
 .submit{
  background: #101010;
  padding: 0.7rem 1.8rem;
  margin-left:800px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer; 
 }
  
  .file-input {
    display: none;
  }
  
  .line {
    width: 80px;
    height: 1px;
    background: #949494;
  }
  
  .or-con {
    display: flex;
    align-items: center;
    margin: 0.5rem;
  }
  
  .or {
    margin: 0 1rem;
    font-weight: 500;
    color: #443f46;
  }