body {
    margin: 0;
    padding-top: 40px;
    color: #6f0584;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}
.container .picture .user-avatar .pic{
    height: 20%;
    border-radius: 50%;
    margin-bottom: 10px;
}
.container{
    margin-left: 50%;
}






.text-right{
    margin-bottom: 25%;
    margin-left: 5%;
}
